html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

body{
	background:url(images/bg.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
 	font-family: 'Open Sans', sans-serif;

}
.friend-form {
	background: url(images/bgf.png) no-repeat 100% 0%;
	background-size: 100%;
	width:37%;
	margin:10% auto 4% auto;
 	position: relative;
}
.friend-form h1{
	text-align:left;
	color: #fff;
	font-size:1.8em;
	font-weight:500;
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	top:7%;
	left:11%;
	margin:34px 0;
} 
.friend-form h2 a{
	text-align:right;
	color: #fff;
	font-size:1.15em;
	font-weight:500;
	font-family: 'Open Sans', sans-serif;
	position:absolute;
	top:9.5%;
	right:11%;
	margin:34px 0;
} 
form {
	padding:32% 3em;
}
form ul{
	height: 250px;
	overflow: scroll;
}
form li{
	border:1px solid #FFC600;
	list-style:none;
	font-size:1.2em;
	font-weight:500;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:16px;
	width:86.25%;
	padding: 0.25em 2em 0.25em 1em;
	background: #FFC600;
}
input[type="text"], input[type="text"] {
	font-family: 'Open Sans', sans-serif;
	width:86.25%;
	padding: 0.5em 2em 0.5em 1em;
	margin-bottom:16px;
	color: #fff;
	font-size:20px;
	outline: none;
	background: none;
	border:1px solid #FFC600;
}

@media (max-width:1024px){
	.friend-form  {
		margin:8% auto 0;
		width:45%;
	}
}
@media (max-width:768px){
	.friend-form  {
		margin:12% auto 0;
		width:57%;
	}
}
@media (max-width:640px){                                  
	.friend-form  {
		margin:13% auto 0;
		width:70%;
	}
}
@media (max-width:480px){                                  
	.friend-form  {
		margin:20% auto 0;
		width:90%;
	}
}
@media (max-width:320px){                                  
	.friend-form  {
		margin:20% auto 0;
		width:100%;
	}
	form{
		padding:38% 2.5em; 
	}
	.friend-form h1{
		font-size:1.7em;
		left:35%;
		top:0%;
	}
	.friend-form h2{
		font-size:1em;
		right:29%;
		top:10%;
	}
	input[type="text"], input[type="text"]{
		font-size:18px;
		padding: 0.4em 1em 0.45em 1em;15px 2px
	}
}
