extends layout

block append link
    link(rel='stylesheet', href=prefix + '/stylesheets/friend_style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Frijole', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')

block content
    .body
    .NavBar
      button#home Home
      button#mute mute
    .friend-form
      - if( page == 'list' ) {
        h1 My Friends
      - }
      - else {
        h1 Search Results
      - }
      form(action='/friend/search', method='post')
          input(type='text', placeholder='Search More Friends', name='name')
          button(type='submit', class='submit')
      div
        ul
          each val, index in users
            - if (page == 'list'){
              li 
                p #{val.username}
                a(href='/friend/delete/'+val.id) remove this friend
            - } else {
              li 
                p #{val.username}
                a(href='/friend/add/'+val.id) Add friend
            - }