//
   Created by Yang on 15/7/27.

extends layout

block append link


block content
    div
        button(onclick="location.href='" + prefix + "/profile/view/" + user +"';" type='button', class='btn btn-primary') My profile
