doctype html

- var prefix = ''
html
  head
    meta(charset='utf-8')
    title Node.js Multiplayer Drawing Game | Tutorialzine Demo
    link(rel='stylesheet', href=prefix+'/stylesheets/styles.css')
    link(rel='stylesheet', href=prefix+'/stylesheets/style.css')
    link(rel='stylesheet', href=prefix+'/stylesheets/bootstrap.min.css')
    block link
  body
    block content