doctype html
html
  head
    title Login
    meta(charset='UTF-8')
    title Game Login Page
    link(href='login_style.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Nunito:700', rel='stylesheet', type='text/css')
  body
    .body
    .grad
    .stage
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
      .layer
    br
    .login
      input(type='text', placeholder='Username', name='name')
      br
      input(type='password', placeholder='Password', name='password')
      br
      input(type='submit', value='Log in ')
      br
      input(type='button', value='Sign in')
