extends layout

block append link
        title Main Page
        link(rel='stylesheet', href='stylesheets/reset.css', media='screen')
        link(rel='stylesheet', href='stylesheets/style_main.css', media='screen')
        link(rel='stylesheet', href='stylesheets/css3_3d.css', media='screen')
        script.
            if (!Modernizr.csstransforms) {
                $(document).ready(function () {
                    $(".close").text("Back to top");
                });
            }
            
block content
        #container
            #bg
            #overlay
            #wrapper
                div(style='text-align:center;clear:both')
                ul#grid.group
                    li
                        .details
                            h2 Play game
                            a.more(href='/room/apple') join game
                        a.more(href='/room/apple')
                            img(src='/images/play.png', width='524', height='600', alt='')
                    li
                        .details
                            h3 Ranking
                            a.more(href='/rank') Check my score
                        a(href='/rank')
                            img(src='/images/Rank_icon2.png', width='324', height='200', alt='')
                    li.end
                        .details
                            h3 Friends list
                            a.more(href='/friend') Find my friends
                        a(href='/friend')
                            img(src='/images/Friend_icon2.png', width='304', height='250', alt='')
        