extends layout

block append link
  script(src=prefix+'/javascripts/validate.js')

block content
  div(id='signupbox', class='container')
    form(action=prefix+'/login', method='post', id='')
      div
        label Username:
        input(type='text', name='username')
      div
        label Password:
        input(type='password', name='password')
      div
        button(type='submit', value="Log in")